[Unit]
Description=Synchronize translations with projects

[Service]
Environment = "DOTENV=%h/pontoon/.env"
WorkingDirectory = %h/pontoon
ExecStart = %h/pontoon/venv/bin/python manage.py sync_project

[Install]
WantedBy=default.target