[Unit]
Description = pontoon
After = network.target

[Service]
Environment = "DOTENV=%h/pontoon/.env"
PermissionsStartOnly = true
PIDFile = %h/pontoon/run/satni.pid
WorkingDirectory = %h/pontoon
ExecStartPre = mkdir %h/pontoon/run
ExecStart = %h/pontoon/venv/bin/gunicorn pontoon.wsgi -b 0.0.0.0:8000 --pid run/satni.pid
ExecStopPost = rm -rf %h/pontoon/run
PrivateTmp = true

[Install]
WantedBy = multi-user.target
