[Unit]
Description=Clear expired sessions

[Service]
Environment = "DOTENV=%h/pontoon/.env"
WorkingDirectory = %h/pontoon
ExecStart = %h/pontoon/venv/bin/python manage.py clearsessions

[Install]
WantedBy=default.target