[Unit]
Description=Collect insights

[Service]
Environment = "DOTENV=%h/pontoon/.env"
WorkingDirectory = %h/pontoon
ExecStart = %h/pontoon/venv/bin/python manage.py collect_insights

[Install]
WantedBy=default.target